@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0.5rem;
}

.Toolbar {
  display: flex;
  justify-content: flex-end;
}

.Canvas {
  margin: 0.5rem 0;
  background: rgb(0,87,175);
  background: radial-gradient(circle, rgba(0,87,175,1) 0%, rgba(0,80,160,1) 100%);
  height: calc(90vw * 4/3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10% 0;

  &__title {
    width: calc(100% - 2rem);
    text-align: center;
    font-size: 28px;
    color: white;
    text-shadow: 1px 2px 0px rgba(80, 80, 80, 0.3);
    letter-spacing: 1px;
    font-weight: 900;
    font-family: 'Roboto Slab';
  }

  &__subtitle {
    font-family: 'Roboto';
    font-weight: 600;
    border-radius: 8px;
    background-color: white;
    padding: 8px 12px;
    font-size: 12px;
    letter-spacing: 0.5px;
    display: flex;

    &--redPart {
      color: #ee3333;
    }
    &--greenPart {
      color: #50aa11;
    }
  }
}

.Fields {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;

  .field {
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 52px auto;
    grid-column-gap: 1rem;
  }

  .Canvas {
    width: 400px;
    height: 600px;
    grid-row: 1 / 2;
    margin: 0;
  }

  .Toolbar {
    grid-column: 2;
    grid-row: 1;
    justify-content: flex-start;
  }

  .Fields {
    grid-column: 2;
    grid-row: 2;
  }
}
